<p id="notice"><%= notice %></p>

<h1>Listing Educations</h1>

<table>
  <thead>
    <tr>
      <th>Education title</th>
      <th>Education school name</th>
      <th>Education date from</th>
      <th>Education date to</th>
      <th>Education description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <td><%= education.education_title %></td>
        <td><%= education.education_school_name %></td>
        <td><%= education.education_date_from %></td>
        <td><%= education.education_date_to %></td>
        <td><%= education.education_description %></td>
        <td><%= education.user %></td>
        <td><%= link_to 'Show', education %></td>
        <td><%= link_to 'Edit', edit_education_path(education) %></td>
        <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education', new_education_path %>
