<p id="notice"><%= notice %></p>

<p>
  <strong>Education title:</strong>
  <%= @education.education_title %>
</p>

<p>
  <strong>Education school name:</strong>
  <%= @education.education_school_name %>
</p>

<p>
  <strong>Education date from:</strong>
  <%= @education.education_date_from %>
</p>

<p>
  <strong>Education date to:</strong>
  <%= @education.education_date_to %>
</p>

<p>
  <strong>Education description:</strong>
  <%= @education.education_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @education.user %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
