
<!--======================== NAVBAR ========================== -->


<div class="dbbody_wrap">
  <div>
    <div class="profilesettting_con">
      <div class="profilesettting_heading">
        <h1><%=t('page_profile.profile_setting')%></h1>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="profileS_con">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow=<%= "#{@user.user_profile_progress}" %> aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.user_profile_progress %>%;">
                <%= @user.user_profile_progress %> % <%=t('page_profile.completed')%>
              </div>
            </div>
            <br>
            <br>
            <div class="profileS_box">
              <div class="profileS_boxes">
                <div class='profileS_boxesprofile'>
                  <%if @user.image_url.url%>
                    <h4>
                      <%= image_tag(@user.image_url.url, alt: 'logo', width: "212", id: 'my_image',  class: 'img-thumbnail img-responsive') %>
                    </h4>
                  <%else%>
                    <%= image_tag('212x244.png', alt: 'logo', width: "212", id: 'my_image',  class: 'img-thumbnail img-responsive') %>
                  <%end%>
                  <%= form_for(:image_uploading_form, url: :add_profile_image, remote: true, html: {method: :post, id: 'upload_form', multipart: true}) do |f| %>
                    <div id="imgdiv">
                      <div class="wrapper">
                        <%= f.file_field :image_url%>
                      </div>
                      <button class="btn fa fa-camera">  </button>

                    </div>
                  <% end %>
                </div>
              </div>
              <div class="profileS_boxes">
                <div class="profileS_boxesprofile">
                  <h3><%=t('page_profile.user_name')%></h3>
                  <button aria-label="Close"  class="close" type="button" data-target="#editUserName" data-toggle="modal">
                    <span aria-hidden="true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                  </button>
                  <%if @user.user_name%>
                    <h4><%= @user.user_name%></h4>
                  <%else%>
                    <h4><%=t('page_profile.no_user_name')%></h4>
                  <%end%>

                  <h3><%=t('page_profile.about_me')%></h3>
                  <button aria-label="Close"  class="close" type="button" data-target="#editAboutMe" data-toggle="modal">
                    <span aria-hidden="true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                  </button>
                  <%if @user.about_me%>
                    <p> <%= @user.about_me%></p>
                  <%else%>
                    <p id="about_me_text88">
                      <%=t('page_profile.no_about_me')%>
                    </p>
                  <%end%>
                </div>
              </div>
            </div>
            <div class="profileS_boxes">

              <div class="profileS_video">
                <h3><%=t('page_profile.video_grettings')%></h3>
                <div id="loading">
                  <img src="loading-gif-animation.gif" alt="loading" />
                </div>
              </div>
              <%= form_for(:video_uploading_form, url: :add_profile_video, remote: true, html: {method: :post, id: 'video_upload_form', multipart: true}) do |f| %>

                <%= f.file_field :video_url%>

              <% end %>
              <div class="profileSvideo_box">
                <%if @user.video_url.url%>
                  <%= videojs_rails sources: { mp4: "#{@user.video_url}", webm: "#{@user.video_url}"}, setup: "{}", controls: true, class: 'img-thumbnail img-responsive' %>
                <%else%>
                  <%= link_to image_tag("video.png", alt: "logo", class: 'img-thumbnail img-responsive'), "#" %>
                <%end%>

              </div>
            </div>
            <div class="profileS_boxes">
              <div class="form-horizontal">
                <div class="profileaddinfo_box">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputEmail3"><%=t('page_profile.competences')%></label>


                    <div class="col-sm-10">
                      <% if @user_competences.count > 0 %>
                        <% @user_competences.each do |competence| %>
                          <div role="alert" class="alert alert-success alert-dismissible fade in">
                            <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                              <span aria-hidden="true"><%= link_to 'x', competence, method: :delete %></span>
                            </button>
                            <h4><%= competence.competence.competence_name %></h4>
                          </div>
                        <%end%>
                      <%else%>
                        <p><%=t('page_profile.no_competences')%></p>
                      <%end%>
                      <h3 id="addMoreCompetences"></h3>
                      <div class="competences_box">
                        <div class="dropdown" >
                          <!--<button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i aria-hidden="true" class="fa fa-tag"></i> Dropdown
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#"><i aria-hidden="true" class="fa fa-plus"></i> Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-tag"></i> Action</a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-tag"></i> Another action</a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-tag"></i> Something else here</a></li>
                          </ul>-->


                          <!-- <%#= form_for(:competence, url: competences_path, html: {method: :post, id: 'competence_form'}, remote: true) do |f| %>
                           <%#= f.select :competence_name, options_for_select(['Action', 'Another action', 'Something else here'] ), {include_blank: 'Select Competence'} ,  id: 'selectCompetence', class: 'btn btn-warning col-sm-2 dropdown-toggle control-label', :onChange=>"javascript: this.form.save_competence.click();" %>


                           <div class="hidden">
                             <%#= f.submit "", :name => "save_competence" %>
                           </div>

                         <%# end %>-->


                          <button class="btn btn-default btn-warning" data-target="#addCompetence" data-toggle="modal"> Add Competences<%#=t('page_profile.add_')%></button>

                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputPassword3"><%=t('page_profile.experience')%></label>
                    <div class="col-sm-10">
                      <% if @user_experiences.count > 0 %>
                        <% @user_experiences.each do |experience| %>
                          <div role="alert" class="alert alert-success alert-dismissible fade in">
                            <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                              <span aria-hidden="true"><%= link_to 'x', experience, method: :delete %></span>
                            </button>
                            <h4><%= experience.experience_company_name %></h4>
                            <h5><%= experience.experience_title %></h5>
                            <p><%= experience.experience_date_from %> - <%= experience.experience_date_to %></p>
                            <p><%= experience.experience_description %></p>
                          </div>
                        <%end%>
                      <%else%>
                        <p><%=t('page_profile.no_experience')%></p>
                      <%end%>
                      <h3 id="addMoreExperiences"></h3>
                      <button class="btn btn-default btn-warning" data-target="#addExperiences" data-toggle="modal"><%=t('page_profile.add_experience')%></button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="inputPassword3"><%=t('page_profile.education')%></label>
                  <div class="col-sm-10">
                    <% if @user_educations.count > 0 %>
                      <% @user_educations.each do |education| %>
                        <div role="alert" class="alert alert-success alert-dismissible fade in">
                          <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true"><%= link_to 'x', education, method: :delete %></span>
                          </button>
                          <h4><%= education.education_title %></h4>
                          <h5><%= education.education_school_name %></h5>
                          <p><%= education.education_date_from %> - <%= education.education_date_to %></p>
                          <p><%= education.education_description %></p>
                        </div>
                      <%end%>
                    <%else%>
                      <p><%=t('page_profile.no_education')%></p>
                    <%end%>
                    <h3 id="addMoreEducations"></h3>
                    <button class="btn btn-default btn-warning" type="submit" data-target="#addEducations" data-toggle="modal"><%=t('page_profile.add_education')%></button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="inputPassword3"><%=t('page_profile.certificate')%></label>
                  <div class="col-sm-10">
                    <% if @user_certificates.count > 0 %>
                      <% @user_certificates.each do |certificate| %>
                        <div role="alert" class="alert alert-success alert-dismissible fade in">
                          <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true"><%= link_to 'x', certificate, method: :delete %></span>
                          </button>
                          <h4><%= certificate.certificate_name %></h4>
                          <h5><%= certificate.certificate_publisher %></h5>
                          <p><%= certificate.certificate_publish_date %></p>
                          <p><%= certificate.certificate_description %></p>
                        </div>
                      <%end%>
                    <%else%>
                      <p><%=t('page_profile.no_certificate')%></p>
                    <%end%>
                    <h3 id="addMoreCertificates"></h3>
                    <button class="btn btn-default btn-warning" type="submit" data-target="#addCertificate" data-toggle="modal"><%=t('page_profile.add_certificate')%></button>                    </div>

                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="inputPassword3"><%=t('page_profile.language')%></label>
                  <div class="col-sm-10">
                    <% if @user_languages.count > 0 %>
                      <% @user_languages.each do |language| %>
                        <div role="alert" class="alert alert-success alert-dismissible fade in">
                          <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true"><%= link_to 'x', language, method: :delete %></span>
                          </button>
                          <h4><%= language.language_name %></h4>
                          <p><%= language.language_skill %></p>
                        </div>
                      <%end%>
                    <%else%>
                      <p><%=t('page_profile.no_language')%></p>
                    <%end%>
                    <h3 id="addMoreLanguages"></h3>
                    <button class="btn btn-default btn-warning" type="submit" data-target="#addlanguage" data-toggle="modal"><%=t('page_profile.add_language')%></button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="inputPassword3"><%=t('page_profile.driving_license')%></label>
                  <div class="col-sm-10">
                    <% if @driving_licenses.count > 0 %>
                      <% @driving_licenses.each do |driving_license| %>
                        <div role="alert" class="alert alert-success alert-dismissible fade in">
                          <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true"><%= link_to 'x', driving_license, method: :delete %></span>
                          </button>
                          <h4><%= driving_license.driving_license_name %></h4>
                        </div>
                      <%end%>
                    <%else%>
                      <p><%=t('page_profile.no_driving_license')%></p>
                    <%end%>
                    <h3 id="addMoreDrivingLicenses"></h3>
                    <button class="btn btn-default btn-warning" type="submit" data-target="#addDrivinglicense" data-toggle="modal"><%=t('page_profile.add_driving_license')%></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!------------------------------------------- Modal For Add User Name Start ---------------------------------------->
<div class="modal fade" id="editUserName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=t('page_profile.add_user_name_popup.add_user_name') %></h4>
      </div>
      <div class="modal-body">
        <%= form_for(:edit_user_name_form, url: :edit_user_name, html: {method: :post, id: 'edit_user_name_form'}, remote: true) do |f| %>
          <%= f.text_field :user_name, class: 'form-control', required: true%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('cancel') %></button>
            <%= f.submit t('ok'), id: '', class: "btn btn-primary"%>

        <% end %>
        </div>
        </div>
  </div>
</div>

<!-------------------------------------------- Modal For Add User Name End ----------------------------------------->

<!------------------------------------------- Modal For Add About Me Start ---------------------------------------->
<div class="modal fade" id="editAboutMe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=t('page_profile.add_about_me_popup.add_about_me') %></h4>
      </div>
      <div class="modal-body">
        <%= form_for(:edit_about_me_form, url: :edit_about_me_text, html: {method: :post, id: 'edit_about_me_form'}, remote: true) do |f| %>
          <%= f.text_area :about_me, class: 'form-control', required: true%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('cancel') %></button>
            <%= f.submit t('ok'), id: '', class: "btn btn-primary"%>
          </div>
        <% end %>
        </div>
  </div>
</div>

<!-------------------------------------------- Modal For Add About Me End ----------------------------------------->


<!------------------------------------------- Modal For Add About Me Start ---------------------------------------->
<div class="modal fade" id="addCompetence" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Competences<%#=t('page_profile.add_about_me_popup.add_about_me') %></h4>
      </div>
      <div class="modal-body">
        <%= form_for(:competence, url: competences_path, html: {method: :post, id: 'competence_form'}) do |f| %>
          <%= f.autocomplete_field :competence_name, autocomplete_competence_competence_name_competences_path, :update_elements => {}, class: 'form-control', required: true, id: 'competence_text'%>
          </div>
          <div class="modal-footer">
            <%= f.submit t('ok'), id: '', class: "btn btn-primary"%>
        <% end %>
        </div>
        </div>
  </div>
</div>

<!-------------------------------------------- Modal For Add About Me End ----------------------------------------->


<!-------------------------------------------- Modal For Add Education Start ----------------------------------------->
<div class="modal fade" id="addEducations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= form_for(:education, url: educations_path, html: {id: "add_education_form", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%=t('page_profile.add_education') %></h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label t('page_profile.add_education_popup.education') %>
              <%= f.text_field :education_title, placeholder: t('page_profile.add_education_popup.placeholder.education'), id: "education_title", class: 'form-control', required: true %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <%= f.label t('page_profile.add_education_popup.school') %>
              <%= f.text_field :education_school_name, placeholder: t('page_profile.add_education_popup.placeholder.school'), id: "education_school_name", class: 'form-control', required: true %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label t('page_profile.add_education_popup.from_date') %>
                  <%= f.text_field :education_date_from, placeholder: "23-10-2016", id: "education_date_from", class: 'form-control', 'data-behaviour' => 'datepicker', required: true %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label t('page_profile.add_education_popup.to_date') %>
                  <%= f.text_field :education_date_to, placeholder: "23-10-2016", id: "education_date_to", class: 'form-control', 'data-behaviour' => 'datepicker', required: true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.label t('page_profile.add_education_popup.description') %>
              <%= f.text_area :education_description, rows: 6,  placeholder: t('page_profile.add_education_popup.placeholder.description'), id: 'education_description', class: "form-control", required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('cancel') %></button>
            <%= f.submit t('ok'), id: '', class: "btn btn-primary"%>
          </div>
        <%end%>
        </div>
  </div>
</div>

<!-------------------------------------------- Modal For Add Education End ----------------------------------------->

<!-------------------------------------------- Modal For Add Experience Start ----------------------------------------->
<div class="modal fade" id="addExperiences" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= form_for(:experience, url: experiences_path, html: {id: "add_experience_form", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%=t('page_profile.add_experience') %></h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label t('page_profile.add_experience_popup.company') %>
              <%= f.text_field :experience_company_name, placeholder: t('page_profile.add_experience_popup.placeholder.company'), id: "experience_company_name", class: 'form-control', required: true %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <%= f.label t('page_profile.add_experience_popup.job_title') %>
              <%= f.text_field :experience_title, placeholder: t('page_profile.add_experience_popup.placeholder.job_title'), id: "experience_title", class: 'form-control', required: true %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label t('page_profile.add_experience_popup.from_date') %>
                  <%= f.text_field :experience_date_from, placeholder: "23-10-2016", id: "experience_date_from", class: 'form-control', 'data-behaviour' => 'datepicker', required: true %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label t('page_profile.add_experience_popup.to_date') %>
                  <%= f.text_field :experience_date_to, placeholder: "23-10-2016", id: "experience_date_to", class: 'form-control', 'data-behaviour' => 'datepicker', required: true %>
                </div>
              </div>

            </div>
            <div class="checkbox">
              <label><%= f.check_box :experience_i_am_work_here, checked: true  %><%= t('page_profile.add_experience_popup.i_am_work_here') %></label>
            </div>
            <div class="form-group">
              <%= f.label t('page_profile.add_experience_popup.branch') %>
              <%= f.text_field :experience_branch,  placeholder: t('page_profile.add_experience_popup.placeholder.branch'), id: 'experience_branch', class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.label t('page_profile.add_experience_popup.description') %>
              <%= f.text_area :experience_description, rows: 6,  placeholder: t('page_profile.add_experience_popup.placeholder.description'), id: 'experience_description', class: "form-control", required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('cancel') %></button>
            <%= f.submit t('ok'), id: '', class: "btn btn-primary"%>
          </div>
        <%end%>
        </div>
  </div>
</div>

<!-------------------------------------------- Modal For Add Experience End ----------------------------------------->

<!-------------------------------------------- Modal For Add Certificate Start ----------------------------------------->
<div class="modal fade" id="addCertificate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= form_for(:certificate, url: certificates_path, html: {id: "add_certificate_form", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%=t('page_profile.add_certificate') %></h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label t('page_profile.add_certificat_popup.certificat_name') %>
              <%= f.text_field :certificate_name, placeholder: t('page_profile.add_certificat_popup.placeholder.certificat_name'), id: 'certificate_name', class: 'form-control', required: true %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <%= f.label t('page_profile.add_certificat_popup.certificat_publisher') %>
              <%= f.text_field :certificate_publisher, placeholder: t('page_profile.add_certificat_popup.placeholder.certificat_publisher'), id: 'certificate_publisher', class: 'form-control', required: true %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label t('page_profile.add_certificat_popup.certificat_publish_date') %>
                  <%= f.text_field :certificate_publish_date, placeholder: '23-10-2016', id: 'certificate_publish_date', class: 'form-control', 'data-behaviour' => 'datepicker', required: true %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label t('page_profile.add_certificat_popup.certificat_description') %>
              <%= f.text_area :certificate_description, rows: 6,  placeholder: t('page_profile.add_certificat_popup.placeholder.certificat_description'), id: 'certificate_description', class: "form-control", required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('cancel') %></button>
            <%= f.submit t('ok'), id: '', class: "btn btn-primary"%>
          </div>
        <%end%>
        </div>
  </div>
</div>

<!-------------------------------------------- Modal For Add Certificate End ----------------------------------------->


<!-------------------------------------------- Add Language Modal Start ----------------------------------------->
<div class="modal fade" id="addlanguage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= form_for(:language, url: languages_path, html: {id: "add_language_form", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%=t('page_profile.add_language') %></h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label t('page_profile.add_language_popup.language') %>
              <%= f.text_field :language_name, placeholder: t('page_profile.add_language_popup.placeholder.language'), id: 'language_name', class: 'form-control', required: true %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <%= f.label t('page_profile.add_language_popup.skill')%>
              <%= f.text_field :language_skill, placeholder: t('page_profile.add_language_popup.placeholder.skill'), id: 'language_skill', class: 'form-control', required: true %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('cancel') %></button>
            <%= f.submit t('ok'), id: '', class: "btn btn-primary"%>
          </div>
        <%end%>
        </div>
  </div>
</div>

<!-------------------------------------------- Add Language Modal End ----------------------------------------->


<!-------------------------------------------- Add Driving License Modal start ----------------------------------------->

<div class="modal fade" id="addDrivinglicense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=t('page_profile.add_driving_license') %></h4>
      </div>
      <div class="modal-body">
        <!-- form CheckBox -->
        <!-- <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'Am'%>
          </div>
            <div class="checkbox">
              <% if @driving_licenses.count > 0 %>
                <% @driving_licenses.each do |driving_license| %>
                  <%if driving_license.driving_license_name == 'Am'%>
                    <% @am_is_checked = true %>
                  <%else%>
                    <% @am_is_checked = false %>
                  <%end%>

                <%end%>
              <%end%>
              <% if @am_is_checked == true %>
                <label><%= f.check_box :is_checked, checked: true %>Am</label>
              <%else%>
              <label><%= f.check_box :is_checked %>Am</label>
            <%end%>
            </div>
        <div class="hidden">
          <%= f.submit %>
        </div>
        <%end%>-->
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'Aa'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>Aa</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'Aa'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>Aa</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'A2'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>A2</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'A'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>A</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'B'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>B</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'BE'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>BE</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'C1'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>C1</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'C1E'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>C1E</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'C'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>C</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'CE'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>CE</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'D1'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>D1</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'D1E'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>D1E</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'D'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>D</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
        <!-- form CheckBox -->
        <%= form_for(:driving_license, url: driving_licenses_path, html: {id: "Am", "data-toggle" => "validator", role: "form"},format: :json, remote: true ) do |f| %>
          <div class="hidden">
            <%= f.text_field :driving_license_name, value: 'DE'%>
          </div>
          <div class="checkbox">
            <label><%= f.check_box :is_checked %>DE</label>
          </div>
          <div class="hidden">
            <%= f.submit %>
          </div>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=t('cancel') %></button>
        <%= button_to t('ok'), driving_license_display_path, method: "get", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------- Add Driving License Modal End ----------------------------------------->
