<p id="notice"><%= notice %></p>

<p>
  <strong>Dl am:</strong>
  <%= @driving_license.dl_am %>
</p>

<p>
  <strong>Dl aa:</strong>
  <%= @driving_license.dl_aa %>
</p>

<p>
  <strong>Dl a2:</strong>
  <%= @driving_license.dl_a2 %>
</p>

<p>
  <strong>Dl a:</strong>
  <%= @driving_license.dl_a %>
</p>

<p>
  <strong>Dl b:</strong>
  <%= @driving_license.dl_b %>
</p>

<p>
  <strong>Dl be:</strong>
  <%= @driving_license.dl_be %>
</p>

<p>
  <strong>Dl c:</strong>
  <%= @driving_license.dl_c %>
</p>

<p>
  <strong>Dl c1:</strong>
  <%= @driving_license.dl_c1 %>
</p>

<p>
  <strong>Dl ce:</strong>
  <%= @driving_license.dl_ce %>
</p>

<p>
  <strong>Dl c1e:</strong>
  <%= @driving_license.dl_c1e %>
</p>

<p>
  <strong>Dl d:</strong>
  <%= @driving_license.dl_d %>
</p>

<p>
  <strong>Dl d1:</strong>
  <%= @driving_license.dl_d1 %>
</p>

<p>
  <strong>Dl de:</strong>
  <%= @driving_license.dl_de %>
</p>

<p>
  <strong>Dl d1e:</strong>
  <%= @driving_license.dl_d1e %>
</p>

<p>
  <strong>User:</strong>
  <%= @driving_license.user %>
</p>

<%= link_to 'Edit', edit_driving_license_path(@driving_license) %> |
<%= link_to 'Back', driving_licenses_path %>
